@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1000px) {
}

#books-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#books-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

#books-select {
  max-width: 600px;
  min-width: 250px;
}

#books-table {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 650px;
}
