@media only screen and (min-width: 350px) {
  #homepage {
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'intro-left'
      'intro-right';
  }

  #intro-left {
    grid-area: intro-left;
  }

  #intro-right {
    grid-area: intro-right;
  }
}

@media only screen and (min-width: 600px) {
  #homepage {
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'intro-left .'
      '. intro-right';
  }

  #sidebar-left {
    grid-area: sidebar-left;
  }

  #sidebar-right {
    grid-area: sidebar-right;
  }
}

@media only screen and (min-width: 1000px) {
}

#homepage {
  display: grid;
}

#nature-svg {
  width: 300px;
  height: auto;
}

#book-svg {
  width: 300px;
  height: auto;
}

.intro-heading {
  color: black;
  padding: 8px;
  text-align: center;
}

.intro-strongtext {
  color: #2aa292;
  font-size: x-large;
}
