#userinfo-favorite {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userinfo-nofavorite {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
